---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
	title="Music"
	description="I create music in the genres of acoustic pop and indie. Please feel free to utilize my compositions for your needs."
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">Music</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">I create music in the genres of acoustic pop and indie. Please feel free to utilize my compositions for your needs.</p>
    </div>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/363195212&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/piskunovim" title="piskunov.im" target="_blank" style="color: #cccccc; text-decoration: none;">piskunov.im</a> · <a href="https://soundcloud.com/piskunovim/sets/piskunov-im" title="piskunov.im" target="_blank" style="color: #cccccc; text-decoration: none;">piskunov.im</a></div>  </div>
</BaseLayout>


