<footer class="site-footer">

  <div class="wrapper footer-wrapper">

    <div class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>

    {% if site.email %}
      <div>
        {% include icon-email.html email=site.email %}
<!--        <a href="mailto:{{ site.email }}">{{ site.email }}</a>-->
      </div>
    {% endif %}

    {% if site.github_username %}
      <div>
        {% include icon-github.html username=site.github_username %}
      </div>
    {% endif %}

    {% if site.mastodon_username %}
    <div>
      {% include icon-mastodon.html username=site.mastodon_username %}
    </div>
    {% endif %}

<!--    {% if site.name %}-->
<!--      <div>-->
<!--        {% include icon-twitter.html username=site.twitter_username %}-->
<!--      </div>-->
<!--    {% endif %}-->
  </div>

</footer>

<script id="dsq-count-scr" src="//piskunov-im.disqus.com/count.js" async></script>
