@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Space Mono", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   1rem !default;
$base-title-font-size:   2.5rem !default;
$base-font-weight: 400 !default;
$article-title-font-size: 2rem !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     1rem !default;
$content-spacing:  4rem !default;


$text-color:       #C4C7D3 !default;
$background-color: #22272e !default;
$brand-color:      $text-color !default;

$visited-color:    #81838B !default;

$grey-color:       $text-color !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  #C4C7D3 !default;

$light-color:      #e5e5e5 !default;

$delimiter-color:  #4D5264 !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          650px !default;
$on-laptop:        800px !default;

$thin:             300 !default;
$bold:             600 !default;
$extra-bold:       900 !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin relative-title-font-size($divider) {
  font-size: $base-title-font-size / $divider;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
