---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.header {
  display: flex;
  align-items: center;

  & nav:last-child {
      margin-left: auto;
  }
}

.breadcrumbs {
  margin-top: 1rem;
  line-height: 2rem;
}

.page-content-with-breadcrumbs {
  padding-top: 3rem;
}

.delimiter {
  width: 100%;
  height: 1px;
  background: $delimiter-color;
}

.logo {
  display: inline-flex;
}

.animated-title {
  animation: typing 1s steps(30, end) forwards;
  overflow: hidden;
  white-space: nowrap;
}

.cursor {
  font-weight: 700;
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#64B7E5, #27B99F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blink 1s 7;
  margin-top: -5px;
  opacity: 0;
}

@keyframes typing {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.content-title {
  font-size: 2rem;
  font-weight: 700;
}

.margin-between-posts {
  margin-top: 3rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: auto;

  & div:not(:last-child) {
    margin-right: auto;
  }

  @include media-query($on-palm) {
    flex-direction: column;
    align-items: center;

    & div:not(:last-child) {
      margin-bottom: $spacing-unit / 2;
      margin-right: 0;
    }
  }
}
