/**
 * Site header
 */
.site-header {
  padding: 2.5rem 0;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  border-bottom: $delimiter-color 1px solid;
}

.site-title {
  font-size: $base-title-font-size;
  font-weight: $bold;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 0.5px;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover {
    background: -webkit-linear-gradient(#64B7E5, #27B99F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-weight: $thin;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 14px;
    }

    &:hover {
      background: -webkit-linear-gradient(#64B7E5, #27B99F);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-decoration: none;
    }

    &.active {
      color: $visited-color;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $delimiter-color;
  padding: 2.5rem 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $content-spacing 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
  font-weight: $thin;
  margin-right: 0.5rem;
  display: inline-block;
  min-width: 81px !important;
}

.post-link {
  @include relative-font-size(1);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-title-font-size(1.25);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 3rem;
  margin-bottom: 0.75rem;

  @include media-query($on-laptop) {
    @include relative-title-font-size(1.5);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);
    margin-top: $spacing-unit * 2.5;
    margin-bottom: $spacing-unit * 1.5;
    font-weight: 700;
    line-height: 2rem;

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h3 {
    @include relative-font-size(1.25);
    margin-top: $spacing-unit * 2.5;
    margin-bottom: $spacing-unit * 1.5;
    font-weight: 700;
    line-height: 2rem;

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  h4 {
    @include relative-font-size(1);
    margin-top: $spacing-unit * 2.5;
    margin-bottom: $spacing-unit * 1.5;
    font-weight: 700;
    line-height: 2rem;

    @include media-query($on-laptop) {
      @include relative-font-size(0.725);
    }
  }

  p {
    line-height: 1.75rem;
  }

  li {
    margin-bottom: 0.25rem;
  }
}

.share-page {
    display: flex;
    justify-content: space-between;
    background: $background-color;
    color: $text-color;
    border-radius: 5px;
    margin-top: 4.5rem;

    & .share-title {
      font-weight: 400;
    }

    & .share-links {
      margin-left: auto;
    }

    a {
        color: $grey-color;
        margin-left: 1.5rem;
    }
}
