<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include breadcrumbs.html %}
    
    {% assign breadcrumbs_class = '' %}
    {% if page.url contains 'pblog' or page.url contains 'linux' %}
      {% assign breadcrumbs_class = 'page-content-with-breadcrumbs' %}
    {% endif %}

    <main class="page-content {{breadcrumbs_class}}" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
