---
layout: default
---

<div class="home">
  
  {{ content }}

  <div class="content-title">Posts</div>

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign previous_post = forloop.index0 | minus: 1 %}
      {% if forloop.first == false %}
        {% assign current_date = post.date | date: "%s" %}
        {% assign previous_date = paginator.posts[previous_post].date | date: "%s" %}
        {% assign day_difference = current_date | minus: previous_date | divided_by: 86400 %}
      {% endif %}
      {% assign margin_class = '' %}
      {% if day_difference <= -30 %}
        {% assign margin_class = 'margin-between-posts' %}
      {% endif %}
      <li class="{{ margin_class }}">
        {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <span><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
      </li>
    {% endfor %}
  </ul>

<!--  {% if paginator.total_pages > 1 %}-->
<!--  <div class="pagination">-->
<!--    {% if paginator.next_page %}-->
<!--      <a href="{{ '/all-posts/' | relative_url }}">Show more posts -></a>-->
<!--    {% endif %}-->
<!--  </div>-->
<!--  {% endif %}-->

</div>
